<!doctype html>
<html lang="fr" ng-app="JocondeLab">
<head>
	<meta charset="UTF-8">
	<title>JocondeLab</title>

	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-resource.js"></script>
	<script src="scripts/controllers.js"></script>
</head>
<body ng-app="JocondeLab">
	<div ng-controller="NoticeCtrl">
		<li ng-repeat="notice in notices">
			{{ notice.loca }}
		</li>
	</div>
	<form action="" ng-controller="SearchCtrl">
		<input type="text" placeholder="Recherche" ng-model="keywords" />
		<input type="submit" ng-click="search()" />
	</form>
</body>
</html>