/*************************
*          FONTS         *
**************************/
@font-face {
    font-family: 'Gtwalsheim';
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-web.eot');
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-web.woff') format('woff'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GtwalsheimMed';
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-medium-web.eot');
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-medium-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-medium-web.woff') format('woff'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-medium-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GtwalsheimThin';
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-thin-web.eot');
    src: url('../fonts/Gt-Walsheim-Web/gt-walsheim-thin-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-thin-web.woff') format('woff'),
         url('../fonts/Gt-Walsheim-Web/gt-walsheim-thin-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gothamhtf';
    src: url('../fonts/Gotham-Htf/gothamhtf-book-webfont.eot.eot');
    src: url('../fonts/Gotham-Htf/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Htf/gothamhtf-book-webfont.woff') format('woff'),
         url('../fonts/Gotham-Htf/gothamhtf-bookwebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamhtfItalic';
    src: url('../fonts/Gotham-Htf/gothamhtf-bookitalic-webfont.eot');
    src: url('../fonts/Gotham-Htf/gothamhtf-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Htf/gothamhtf-bookitalic-webfont.woff') format('woff'),
         url('../fonts/Gotham-Htf/gothamhtf-bookitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*************************
*         GENERAL        *
**************************/

body {
	font-family: 'Gtwalsheim', Arial, sans-serif;
}
.clear {
	clear: both;
}
section.main {
	position: relative;
}


/*************************
*          HOME          *
**************************/

section.home {
	width: 50%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
section.home .overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}
section.home h2 {
	color: #c3a261;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Gtwalsheim', Arial, sans-serif;
}
section.home img.arrow {
	position: absolute;
	top: 50%;
	margin-top: -7px;
}
section.home div.content {
	width: 330px;
	height: 174px;
	margin-top: -106px;
	margin-left: -165px;
	padding: 15px;
	background-color: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: 'GtwalsheimThin', Arial, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
}
section.home div.content p {
	padding: 20px 0;
	color: #1a1a1a;
}
section.home div.content a {
	margin-top: 20px;
	padding: 8px 17px;
	border: solid #838383 1px;
	color: #838383;
	text-decoration: none;
	display: inline-block;
}
section.home div.content a:hover {
	border: solid #c3a261 1px;
	color: #c3a261;
}
section.selected {
	cursor: default;
}
section.selected .overlay {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

section.left {
	position: absolute;
	top: 0;
	z-index: 100;
	background: url('../images/home/home-left.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

section.right {
	position: absolute;
	left: 50%;
	background: url('../images/home/home-right.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
section.right h2 {
	margin-bottom: 10px;
}
section.right form {
	width: 300px;
	margin: 15px 0 0 20px;
	text-align: left;
	position: relative;
}
section.right form input {
	background-color: transparent;
	font-size: 20px;
	font-family: 'GtwalsheimThin', Arial, sans-serif;
	color: #1a1a1a;
}
section.right form input[type="text"] {
	width: 246px;
	padding: 5px;
	border: solid #f1f1f1 2px;
	position: relative;
	z-index: 100;
}
section.right form input[type="submit"] {
	padding: 5px;
	border: solid #808080 1px;
	color: #808080;
	background-color: #FFF;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
}
section.right form input[type="submit"]:hover {
	border: solid #c3a261 1px;
	color: #c3a261;
}
section.right span.suggest-more {
	display: none !important;
}
section.right div.suggest div {
	text-align: left;
	left: 3px !important;
}
section.right.selected div.content {
	line-height: 1em;
}

/*************************
*           MAP          *
**************************/
section.map {
	background-color: #000;
	width: 30%;
	height: 100%;
	position: absolute;
	left: 0;
}
section.artwork {
	width: 70%;
	height: 100%;
	position: absolute;
	left: 30%;
}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#map-canvas div div a div img{
    display:none;
}

/*************************
*          PATH          *
**************************/
section.artwork-path {
	width: 100%;
	height: 75%;
	position: absolute;
}
section.route {
	width: 100%;
	height: 25%;
	background-color: #1a1a19;
	color: #666;
	letter-spacing: 0.05em;
	position: absolute;
	top: 75%;
}
section.route .content {
	height: 100%;
	padding: 0px 70px;
	margin: 0 auto;
}
section.route span.extrems {
	display: inline-block;
	min-width: 50px;
	padding-bottom: 58px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -45px;
} 
section.route span.from {
	background: url('../images/path/from.png') center bottom no-repeat;
}
section.route span.to {
	background: url('../images/path/to.png') center bottom no-repeat;
	right: 70px;
}
section.route .center {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
section.route .center hr {
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background-color: #666;
	position: relative;
	top: 50%;
}
section.route span.marker {
	margin-top: -29px;
	text-align: center;
	position: absolute;
	top: 50%;
}
section.route span.marker .icon {
	width: 23px;
	height: 20px;
	margin-top: 5px;
	background: url('../images/path/marker.png') no-repeat center top #1a1a19;
	display: inline-block;
}
section.route span.marker .city {
	color: #c1a061;
	visibility: hidden;	
}
section.route span.marker.aix {
	left: 2%;
}
section.route span.marker.avignon {
	left: 8%;
}
section.route span.marker.lyon {
	left: 15%;
}
section.route span.marker.macon {
	left: 30%;
}
section.route span.marker.beaune {
	left: 50%;
}
section.route span.marker.auxerre {
	left: 75%;
}

/*************************
*         ROUTE          *
**************************/
section.final-route {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	color: #FFF;
	overflow: scroll;
}
section.final-route .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 300;
	position: absolute;
}
section.final-route .overlay:hover {
	background-color: rgba(0,0,0,0);
}
section.final-route ul li {
	border: solid #333 1px;
	position: relative;
	letter-spacing: 0.05em;
	height: 181px;
}
section.final-route li .image {
	width: 30%;
	height: 181px;
	overflow: hidden;
	float: left;
}
section.final-route li .image img {
	min-width: 100%;
	max-width: 100%;
}
section.final-route li p {
	z-index: 200;
}
section.final-route li .content-left {
	width: 35%;
	height: 100%;
	background-color: #000;
	font-size: 16px;
	color: #f7f8f9;
	font-family: 'GtwalsheimThin', Arial, sans-serif;
	float: left;
}
section.final-route li .content-left h3 {
	margin-bottom: 50px;
	padding: 20px 0 0 20px;
	color: #c3a261;
	font-size: 20px;
	font-family: 'Gtwalsheim', Arial, sans-serif;
}
section.final-route li .content-left .address {
	padding-left: 20px;
	position: absolute;
	bottom: 20px;
	left: 30%;
	line-height: 1.1em;
}

section.final-route li .content-right {
	width: 35%;
	height: 100%;
	background-color: #1a1a1a;
	font-size: 16px;
	color: #f7f8f9;
	font-family: 'GtwalsheimThin', Arial, sans-serif;
	line-height: 1.1em;
	float: right;
}
section.final-route li .content-right p {
	padding-left: 20px;
	position: absolute;
	bottom: 20px;
	left: 65%;
}
.grab {
	cursor: -moz-grab;
}
.grabbing {
	cursor: -moz-grabbing;
}
/*************************
*         FILTER         *
**************************/
section.filter {
	width: 100%;
	height: 100%;
}
section.filter li div {
	width: 100%;
	height: 24%;
	color: #FFF;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(transparent, black);
	visibility: hidden;
}
section.filter li:hover div {
	visibility: visible;
}
section.filter li span {
	-moz-text-shadow: 0px 0px 9px #333;
	text-shadow: 0px 0px 9px #333;
}
section.filter li span.medium {
	font-size: 26px;
	font-family: 'GtwalsheimThin', Arial, sans-serif;
}
section.filter li span.type {
	font-size: 26px;
	font-family: 'Gtwalsheim', Arial, sans-serif;
}
section.filter li a {
	padding: 5px 8px;
	border: solid #FFF 1px;
	color: #FFF;
	text-decoration: none;
	position: relative;
	top: 35px;
}
section.filter li a:hover {
	color: #c1a061;
	border: solid #c1a061 1px;
}
section.filter li a.selected {
	color: #FFF;
	background-color: #c1a061;
	border: solid #c1a061 1px;
	visibility: visible;
}
/*************************
*         FOOTER         *
**************************/
footer {
	background-color: #000;
	color: #FFF;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: solid #262626 1px;
	z-index:100;
}
footer h1 a {
	color: #666666;
	text-transform: uppercase;
	font-size: 27px;
	letter-spacing: 0.05em;
	line-height: 60px;
	padding-left: 18px;
	position: absolute;
	text-decoration: none;
}
footer h1 a strong {
	color: #FFF;
	font-family: 'GtwalsheimMed', Arial, sans-serif;
}
footer nav {
	position: absolute;
	right: 0;
}
footer nav li {
	display: none;
	width: 60px;
	height: 60px;
	border-left: solid #262626 1px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	float: left;

	-webkit-transition-property: width;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-property: width;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in; 
}
footer nav li span {
	display: none;
	letter-spacing: 0.05em;
}
footer nav li hr {
	display: none;
}
footer nav li.validate {
	background: url('../images/nav/validate.png') no-repeat center center;
}
footer nav li.validate:hover {
	width: 175px;
	background-position: 124px center;
}
footer nav li.validate:hover span,
footer nav li.maps:hover span,
footer nav li.lock:hover span,
footer nav li.breadcrumbs:hover div,
footer nav li.send-to:hover div {
	height: 60px;
	display: inline-block;
	position: relative;
	top: 20px;
	left: 15px;
}
footer nav li.breadcrumbs:hover {
	width: 348px;
	background-position: 290px center;
}
footer nav li.breadcrumbs:hover span {
	display: inline;
}
footer nav li.breadcrumbs span {
	color: #666;
}
footer nav li.breadcrumbs:hover hr {
	width: 34px;
	height: 2px;
	margin: 0 2px;
	border: none;
	background-color: #666;
	display: inline-block;
	position: relative;
	top: -3px;
}
footer nav li.breadcrumbs hr.selected {
	background-color: #FFF;
}
footer nav li.breadcrumbs span.selected {
	color: #FFF;
}
footer nav li.more-less {
	background: url('../images/nav/more-less.png') no-repeat center center;
}
footer nav li.more-less .indicators {
	position: absolute;
	top: 0;
	left: -4px;
}
footer nav li.more-less:hover {
	width: 125px;
	background-position: 69px center;
}
footer nav li.more-less:hover span {
	width: 2px;
	height: 20px;
	margin-left: 7px;
	display: inline-block;
	background-color: #666;
	position: relative;
	top: 20px;
	left: 13px;
}
footer nav li.more-less span.selected {
	background-color: #FFF;
}
footer nav li.breadcrumbs {
	background: url('../images/nav/breadcrumbs.png') no-repeat center center;
}
footer nav li.lock {
	background: url('../images/nav/user.png') no-repeat center center;
}
footer nav li.lock:hover {
	width: 145px;
	background-position: 94px center;
}

footer nav li.lang {
	width: 103px;
	text-align: center;
}
footer nav li.lang span {
	padding: 5px 7px;
	cursor: pointer;
	display: inline;
	color: #333;
	position: relative;
	top: 24px;
}
footer nav li.lang span:first-child {
	border-right: solid #333333 1px;
	color: #FFF;
}

footer nav li.send-to {
	background: url('../images/nav/send-to.png') no-repeat center center;
}

footer nav li.send-to span {
	margin-right: 5px;
	color: #666;
}
footer nav li.send-to span:hover {
	color: #FFF;
}
footer nav li.send-to:hover {
	width: 278px;
	background-position: 220px center;
}
footer nav li.send-to:hover span {
	display: inline;
}

footer nav li.maps {
	background: url('../images/nav/maps.png') no-repeat center center;
}
footer nav li.maps:hover {
	width: 165px;
	background-position: 114px center;
}

/*************************
*        ACCORDION       *
**************************/

ul.accordion {
	background-color: #000;
	width: 100%;
	height: 100%;
}
ul.accordion li {
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 100%;
	position: absolute;
}
ul.accordion li div.actions {
	height: 58px;
	width: 100%;
	border-top: solid #262626 1px;
	background-color: #000;
	color: #FFF;
	position: absolute;
	bottom: -35px;

	-webkit-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-property: bottom;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in;
	transition-property: bottom;
	transition-duration: 0.2s;
	transition-timing-function: ease-in; 
}
ul.accordion li div.actions:hover {
	bottom: 0;
}
ul.accordion li div.actions a {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-right: solid #262626 1px;
}
ul.accordion li div.actions a.next {
	background: url('../images/buttons-accordion/next.png') center no-repeat;
}
ul.accordion li div.actions a.check {
	background: url('../images/buttons-accordion/check.png') center top no-repeat;
	background-position: center top;
}
ul.accordion li div.actions a.check.selected {
	background-position: center bottom;
}
ul.accordion li div.actions a.remove {
	background: url('../images/buttons-accordion/remove.png') center no-repeat;
}
ul.accordion li div.actions a.infos {
	background: url('../images/buttons-accordion/infos.png') center top no-repeat;
}
ul.accordion li div.actions a.infos.selected {
	background-position: center bottom;
}
ul.accordion li div.infos {
	width: 100%;
	color: #333333;
	background-color: #FFF;
	display: none;
	position: absolute;
	bottom: 60px;
	z-index: 200;
}
ul.accordion li div.infos p {
	padding: 20px;
}

/*************************
*      PATH LIGHTBOX     *
**************************/
.fancybox-skin {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;

	background-color: red;
}
.lightbox {

}
.lightbox {
	padding: 8px;
	text-align: center;
	letter-spacing: 0.05em;
}
.lightbox h1 {
	padding-bottom: 20px;
	color: #c3a261;
	font-size: 24px;
}
.lightbox a {
	width: 142px;
	height: 20px;
	padding: 10px 0;
	border: solid #808080 1px;
	color: #808080;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
}
.lightbox a:hover {
	color: #c3a261;
	border: solid #c3a261 1px;
}
.lightbox p {
	padding : 0 13px 20px 13px;
	font-family: 'Gothamhtf', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.path-lightbox a {
	margin: 0 3px;
}
.path-lightbox em {
	font-family: 'GothamhtfItalic', Arial, sans-serif;
}