<section class="filter" accordion-init filter-accordion>
	<ul class="accordion">
		<li>
			<img src="images/filter/sculpture.jpg" alt="" />
			<div>
				<span class="medium">médium</span> <span class="type">sculpture</span><br />
				<a href="#">j'apprécie</a>
			</div>
		</li>
		<li>
			<img src="images/filter/peinture.jpg" alt="" />
			<div>
				<span class="medium">médium</span> <span class="type">peinture</span><br />
				<a href="#">j'apprécie</a>
			</div>
		</li>
		<li>
			<img src="images/filter/photographie.jpg" alt="" />
			<div>
				<span class="medium">médium</span> <span class="type">photographie</span><br />
				<a href="#">j'apprécie</a>
			</div>
		</li>
	</ul>
</section>