<section class="left home" ng-class="{selected: showLeft}" ng-mouseover="chooseHomeLeft()" show-slide="slideLeft">
	<div class="overlay"></div>
	<div class="content" ng-show="showLeft" home-where>
		<h2>
			Où partir ?
		</h2>
		<p>
			Trouvez la destination parfaite
			pour vos voyages culturels.
		</p>
		<div>
			<a href="">c'est parti !</a>
		</div>
	</div>
	<img src="images/home/arrow-left.png" ng-show="showRight" alt="" class="arrow" />
</section>

<section class="right home" ng-class="{selected: showRight}" ng-mouseover="chooseHomeRight()" show-slide="slideRight">
	<div class="overlay"></div>
	<div class="content" ng-show="showRight">
		<h2>
			Je sais où je vais !
		</h2>
		<p>
			Trouvez les musées qui vous
			intéressent, où que vous alliez.
		</p>
		<form action="" name="cityForm" ng-controller="ChooseCityCtrl" ng-submit="submit(city)">
			<input type="text" name="city" placeholder="Ville" auto-suggest ng-model="city"/>
			<input type="submit" value="go !" />
		</form>
	</div>
	<img src="images/home/arrow-right.png" ng-show="showLeft" alt="" class="arrow" />
</section>