<section class="map" id="map-canvas" google-map>
	
</section>
<section class="artwork" accordion-init>
	<ul class="accordion">
		<li ng-repeat="artwork in artworks" ng-mouseover="displayArtwork($index)">
			<img ng-src="http://www.culture.gouv.fr/Wave/image/joconde/{{ artwork.image }}" alt="" />
			<div class="actions" ng-show="activeArtwork == $index" data-index="{{$index}}">
				<a href="" class="next" ng-click="next($index)"></a>
				<a href="" class="like" ng-click="like($index)" ng-class="{'selected': artworksValidated.indexOf(artwork) != -1}"></a>
				<a href="" class="remove" ng-click="remove($index)"></a>
			</div>
		</li>
	</ul>
</section>