<section class="map" id="map-canvas" google-map>
	
</section>
<section class="artwork" accordion-init>
	<ul class="accordion">
		<li ng-repeat="artwork in artworks" ng-mouseover="displayArtwork($index)">
			<img ng-src="http://www.culture.gouv.fr/Wave/image/joconde/{{ artwork.image }}" alt="" />
			<div class="actions" ng-show="activeArtwork == $index" data-index="{{$index}}">
				<a href="" class="next" ng-click="next($index)"></a>
				<a href="" class="check" ng-click="check($index)" ng-class="{'selected': artworksValidated.indexOf(artwork) != -1}"></a>
				<a href="" class="remove" ng-click="remove($index)"></a>
				<a href="" class="infos"></a>
			</div>
			<div class="infos" data-index="{{$index}}">
				<p>
					<span ng-hide="!artwork.titr">{{ artwork.titr }}<br /></span>
					<span ng-hide="!artwork.autr">{{ artwork.autr }}</span><span ng-hide="!artwork.ddpt">, {{ artwork.ddpt }}</span>
					<br ng-hide="!artwork.autr and !artwork.ddpt" />
					<span ng-hide="!artwork.loca">{{ artwork.loca }}</span>
				</p>
				<a href="" class="close"></a>
			</div>
		</li>
	</ul>
</section>