<section class="artwork-path" accordion-init path-accordion>
	<ul class="accordion">
		<li ng-repeat="city in artworks">
			<img src="images/path/{{ city.content.museums.artwork.image }}" alt="" />
			<div class="actions" data-index="{{$index}}">
				<a href="" class="next"></a>
				<a href="" class="check" ng-click="check($index)" ng-class="{'selected': checked[$index]}"></a>
				<a href="" class="remove" ng-click="remove($index)"></a>
			</div>
			<div class="infos">
				
			</div>
		</li>
	</ul>
</section>
<section class="route">
	<section class="content">
		<span class="from extrems">Marseille</span>
		<div class="center">
			<hr />
			<span class="marker {{ city.class }}" ng-repeat="city in artworks" ng-class="{'selected': checked[$index]}">
				<span class="city">{{ city.name }}</span><br />
				<span class="icon"></span>
			</span>
		</div>
		<span class="to extrems">Paris</span>
	</section>
</section>