<section class="final-route">
	<ul dnd-list="artworks">
		<li ng-repeat="artwork in artworks" class="grab">
			<div class="image">
				<img src="images/path/{{ artwork.image }}" alt="" ng-if="artwork.type == 'json'" />
				<img src="http://www.culture.gouv.fr/Wave/image/joconde/{{ artwork.image }}" alt="" ng-if="artwork.type != 'json'" />
			</div>
			<div class="content-left">
				<h3>{{ artwork.loca }}</h3>
				<p class="address">
					{{ artwork.address['street_number'] }} {{ artwork.address['route'] }}, <br />
					{{ artwork.address['postal_code'] }} {{ artwork.address['locality,political'] }}<br />
					T 01 53 67 40 00
				</p>
			</div>
			<div class="content-right">
				<p>
					Horaires :<br />
					Lun à ven - 10h à 19h<br />
					Samedi - 10h à 20h<br />
				</p>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</section>