<!doctype html>
<html lang="fr" ng-app="JocondeLab">
<head>
	<meta charset="UTF-8">
	<title>JocondeLab</title>

	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" />

	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
</head>
<body>
	<section ng-view full class="main">
		
	</section>

	<footer ng-controller="FooterCtrl">
		<h1><a href="#"><strong>Joconde</strong>Lab</a></h1>
		<nav>
			<ul>
				<li class="validate" ng-click="validate()" go-path><span>étape suivante</span></li>
				<li class="more-less" more-less>
					<div class="indicators">
						<span ng-repeat="i in getmaxArtworks(maxArtworks) track by $index" ng-class="{'selected' : (maxArtworks - nbArtworks) <= $index}"></span>
					</div>
				</li>
				<li class="breadcrumbs"><span>trajet - sur place - parcours</span></li>
				<li class="lock"></li>
			</ul>
		</nav>
	</footer>


	<!-- JQUERY -->
	<script type="text/javascript" src="js/jquery.min.js"></script>

	<!-- ANGULAR -->
	<script type="text/javascript"src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	
	<script type="text/javascript"src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>

	<!-- GOOGLE MAPS -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true&key=AIzaSyDRBUszBrrCUfEmBE2BbQjq5H-RuDQKz4s">
	</script>
	
	<!-- ACCORDION PLUGIN -->
	<script type="text/javascript" src="js/accordion.js"></script>

	<!-- JQUERY SUGGEST PLUGIN -->
	<script type="text/javascript"src="js/jquery.suggest.js"></script>

	<!-- FANCYBOX PLUGIN -->
	<script type="text/javascript"src="js/fancybox/jquery.fancybox.js"></script>
</body>
</html>