<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JocondeLab</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/style.css" />
</head>
<body>
	<section class="path-lightbox">
		<h1>Félicitations !</h1>
		<p>
			<em>Vous venez de créer votre premier parcours.</em>
		</p>
		<p>
			Souhaitez vous  découvrir les musées qui se trouvent sur votre trajet ?
		</p>
		<div>
			<a href="#" class="yes-btn">oui</a>
			<a href="#">non</a>
		</div>
	</section>
</body>
</html>